/* .notelist {
    width: 80vw;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
} */

/* .menu
{
    background-color : white;
    width: 50px;
    height : 100 vw;
    position : absolute;
    left : 0px;
} */